<div class="awk" data-awk_file="{{ include.awk_file }}" data-awk_soln="{{ include.awk_soln }}" style="width: 100%;">
    <div style="display: flex;">
        <div spellcheck="false" contenteditable="true" role='textbox' id="{{include.awk_soln}}" class="{{ include.consoleClass}} awk_input language-bash" style="float: left;" data-reset="">{{ include.awk_init }}</div>
        <button class="awk_run" onClick="awk_run(this)">▶ Uruchom</button>
        <button class="awk_reset" onClick="awk_reset(this)">↺</button>
    </div>
    <samp class="awk_output"></samp>
</div>
<script>
    document.getElementById("{{include.awk_soln}}").setAttribute("data-reset", "{{ include.awk_init | replace: '"', '\"' }}");

    var editor = ace.edit("{{include.awk_soln}}", {
        minLines: 1,
        maxLines: 2,
        showLineNumbers: false,
        readOnly: false,
        newLineMode: 'auto',
    });
    editor.setHighlightActiveLine(false);
    editor.setShowPrintMargin(false);
    editor.session.setUseWrapMode(true);
    editor.renderer.setShowGutter(false);
    editor.renderer.setPadding(20);
    editor.renderer.setScrollMargin(5, 5);
    editor.setTheme("ace/theme/cobalt");
    editor.session.setMode("ace/mode/sh");
    
    row = editor.session.getLength() - 1;
    column = editor.session.getLine(row).length;
    editor.selection.moveTo(row, column);

    editors["{{include.awk_soln}}"] = editor;
</script>