<!--
id - id
filename - Name of file you are writing awk in (.awk added)
soln - key of solution in awk_tutorial2.js
txt_source - id of text file with source text (.txt added)
awk_src_class - applied to text area to set height
-->
<div class="awk2" data-txt_source="{{include.txt_source}}" data-soln="{{include.soln}}">
    <div class="awk_source_container">
        <span class="awk_source_filename">📋 {{ include.filename }}.awk</span>
        <div spellcheck="false" class="awk_source {{include.awk_src_class}} language-awk" aria-label="Umieść tutaj swój kod awk" id="{{include.id}}">{{ include.init }}</div>
        <div class="buttons">
            <button onClick="run(this)" title="Możesz również użyć kombinacji klawiszy &lt;Ctrl+Enter&gt; lub &lt;⌘+Enter&gt;">$ awk -f {{include.filename}}.awk {{include.txt_source}}.txt</button>
        </div>
    </div>
    <samp class="awk_output">BLAH</samp>
</div>
<script>
    var editor = ace.edit("{{include.id}}");
    editor.setShowPrintMargin(false);
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/sh");
    editors["{{include.id}}"] = editor;
</script>
